*{
    font-family: Arial,Verdana,sans-serif;
}
h1{
    font-family: "Courier Newr",monospace;
}
i {
    color: green;
}
b{
    color: red;
}
p b{ color:pink }
p b{color: violet;}
p#intro {
    font-size: 100%;
}
p { font-size: 75%}